# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt
package.bluej

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse files
.project
.classpath
.settings/
bin/

# IntelliJ files
.idea/

# Output files
*.class

# System files
desktop.ini
*.swp
.DS_Store

# JVM crash logs
hs_err_pid*